font-color = white

.search
  background none
  flex 100px 1 1
  height 150px
  line-height 1.5
  margin 0
  overflow hidden
  padding-left 10px
  text-overflow ellipsis
  transition background-color 0.2s
  width 100%

  font-size 100px

  &::-webkit-input-placeholder
    color rgba(font-color, 0.6)
    line-height 1.5
