.queue-track
  overflow hidden
  display -webkit-flex
  height: 60px
  position: relative
  background-size: 100% auto
  background-position center center
  transition: all 0.2s
  -webkit-align-items flex-end
  padding-left 15px

  &.dragover
    margin-top: 30px

  &:hover
    > .controls > button
      display: block

  > .shield
    mask-image linear-gradient(to top, black 60px, transparent 300px)
    overflow hidden
    pointer-events none

    &, > .blur, > .shadow
      position absolute
      top 0
      left 0
      right 0
      bottom 0

    > .blur
      background-size cover
      background-position center center

  > .text
    -webkit-flex-grow 1
    padding: 8px 0
    > .track-name
      line-height: 22px
      font-size: 18px
    > .artist-name
      line-height: 22px
      font-size: 14px
      &:before
        content: "by "
  > .controls
    height: 60px
    min-width 0
    display -webkit-flex
    -webkit-align-items center
    -webkit-flex-shrink 0
