.queue-track
  padding 0
  overflow hidden
  height 60px
  position relative
  background-size: 100% auto
  background-position center center
  transition all 0.2s

  &.dragover
    margin-top: 30px

  &:hover
    > .shield
      > .shadow
        opacity 0
      > .blur
        transition opacity 5s
        opacity 0
    > .info > .text
      opacity 0

    > .info > .controls > button
      opacity 0.7

  > .shield
    overflow hidden
    pointer-events none

    &, > .blur, > .shadow
      position absolute
      top 0
      left 0
      right 0
      bottom 0

    > .shadow
      transition opacity 1s

    > .blur
      transform translate3d(0,0,0)
      transition opacity 2s
      background-size cover
      background-position center center

  > .info
    bottom 0
    height 60px
    left 0
    padding 0 15px
    position absolute
    right 0

    > .text
      transition opacity 1s
      height 100%
      overflow hidden
      padding: 8px 0

      > .track-name
        line-height: 22px
        font-size: 18px

      > .artist-name
        line-height: 22px
        font-size: 14px

        &:before
          content: "by "

    > .controls
      float right
      height 100%
      line-height 60px

      > button
        transition opacity 0.25s
        transform translate3d(0,0,0)
        opacity 0.05

        &:hover
          opacity 0.999
