.App {
  height: 100%;
  position: relative;
  background-color: black;
  color: #888;
}

.AppBody {
  height: 100%;
  display: flex;
  align-items: stretch;
  position: relative;
}

html, body, #mount {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
.Grid {
  transform: translate3d(0,0,0);
}
.GridTrack {
  background-size: cover;
  float: left;
}

.GridTrack::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.Header {
  z-index: 1;
  display: flex;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.Nav {
  flex: 0 0 50%;
}
.Queue {
  margin-top: 150px;
  overflow: scroll;
}
.QueueTrack {
  background-size: cover;
}

.QueueTrack:first-child::before {
  padding-top: 100%;
  content: '';
  display: block;
}
.Ratio {
}

/* minus one */
.Ratio-1 {
}

@media (min-width: 600px) {
  /* 3 */

  .Ratio {
    width: 33%;
  }
  .Ratio-1 {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  /* 1/4 */

  .Ratio {
    width: 25%;
  }
  .Ratio-1 {
    width: 33%;
  }
}

@media (min-width: 1300px) {
  /* 1/5 */

  .Ratio {
    width: 20%;
  }
  .Ratio-1 {
    width: 25%;
  }
}

@media (min-width: 1600px) {
  /* 1/6 */

  .Ratio {
    width: 16.667%;
  }
  .Ratio-1 {
    width: 20%;
  }
}
.Scroller {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  overflow: scroll;
  padding-top: 150px;
}

.Grid::-webkit-scrollbar {
  display: none;
}
.Search {
  background: none;
  border: none;
  color: white;
  display: flex;
  font-size: 80px;
  height: 150px;
  left: 0;
  line-height: 150px;
  outline: none;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.WaveForm {
  flex: 1 0 50%;
  opacity: 0.9;
}
