.App {
  height: 100%;
  position: relative;
  background-color: black;
  color: #888;
  font-family: 'Helvetica Neue';
  font-weight: 200;
}

.AppBody {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
}

html, body, #mount {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}
.Grid {
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
}
.GridTrack {
  background-position: center;
  background-size: cover;
  float: left;
  position: relative;
}

.GridTrack::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.GridTrackContent {
  position: absolute;
  top: 0;
  left:0;
  bottom :0;
  right: 0;
  line-height: 24px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  visibility: hidden;
}

.GridTrack:hover .GridTrackContent {
  visibility: visible;
}


.GridTrackText {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  line-height: 1;
  background-color: rgba(0,0,0, 0.8);
  color: white;
}

.Header {
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.Queue {
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  padding-top: 150px;
  overflow: scroll;
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.QueueTrack {
  background-size: cover;
  background-position: center center;
  position: absolute;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}

.QueueTrack::before {
  -webkit-transition: 0.5s;
          transition: 0.5s;
  padding-top: 33.333%;
  content: '';
  display: block;
}

.QueueTrack:first-child {
}

.QueueTrack:first-child::before {
  padding-top: 100%;
}

.QueueTrack:last-child {
  margin-bottom: 33%;
}

.Ratio {
  width: 50vw;
}

@media (min-width: 600px) {
  /* 1/3 */

  .Ratio {
    width: 33.3333vw;
  }
}

@media (min-width: 1000px) {
  /* 1/4 */

  .Ratio {
    width: 25vw;
  }
}

@media (min-width: 1300px) {
  /* 1/5 */

  .Ratio {
    width: 20vw;
  }
}

@media (min-width: 1600px) {
  /* 1/6 */

  .Ratio {
    width: 16.6667vw;
  }
}
.Scroller {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
  padding-top: 150px;
}
.Search {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  background: none;
  border: none;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 80px;
  line-height: 150px;
  outline: none;
  padding: 0 20px;
}
.WaveForm {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}
