modal-album-animation-duration = modal-animation-duration
modal-album-width              = 500px
modal-album-height             = 500px

.album-modal > .modal-inner
  background-size auto 100%
  max-width 100%
  position relative
  width modal-album-width
  height modal-album-height

  > .cover
    bottom 0
    left 0
    position absolute
    right 0
    top 0

  > .front
    background-size cover
    background-repeat no-repeat

  > .back
    transition background-color 1s
    z-index: 10
    height: modal-album-height
    -webkit-overflow-scrolling: touch
    overflow hidden
    display -webkit-flex
    flex-direction column

    > .info
      -webkit-flex-shrink: 0
      padding: 15px 20px 0 10px
      padding-bottom 0
      display: -webkit-flex
      line-height 40px

      > .text
        text-align center
        -webkit-flex-grow: 1

        > .album-name
          padding-right 10px
          font-size 25px

        > .artist-name
          padding-right 10px
          font-size 16px

          &:before
            content: "by "
            opacity: 0.7

      > .controls
        -webkit-flex-shrink: 0
        text-align: right
        > .release-date
          font-size 15px

      > .controls-spacer
        -webkit-flex-shrink 100
        visibility hidden
        > .release-date
          white-space nowrap
          overflow hidden
          font-size 15px
    > .content
      -webkit-mask-image linear-gradient(to top, transparent, black 30px, black -webkit-calc(100% \- 30px), transparent)
      overflow: auto
      margin-bottom 1px
      > .tracks
        padding 30px 0 50px


@media (max-width: 1200px)
  .album-modal > .modal-inner
    -webkit-flex-direction: column
    -webkit-overflow-scrolling: touch
    overflow: auto
    max-height: 100%
    > .cover
      // -webkit-mask-image none !important
    > .back
      -webkit-flex-shrink: 0
      height: auto
      overflow: hidden
      > .content
        -webkit-mask-image none
    .track
      line-height: 3em
