modal-album-animation-duration = modal-animation-duration

@keyframes fade-out
  from
    opacity 0.9999
  to
    opacity 0.7

.album-modal > .modal-inner
  -webkit-overflow-scrolling touch
  background-position center top
  background-repeat no-repeat
  background-size 100% auto
  background-size auto 100%
  position relative

  > .scroller
    bottom 0
    left 0
    overflow auto
    position absolute
    right 0
    top 0

    > .back
      display flex
      flex-direction column
      height modal-album-height
      margin-top 100%
      min-height 100%
      overflow hidden
      position absolute
      width 100%
      box-shadow rgba(black, 0.3) 0 99px 30px 99px

      > .blur, > .shadow
        bottom 0
        left 0
        position absolute
        right 0
        top 0
        transform translate3d(0,0,0)

      > .blur
        background-position center top
        background-repeat no-repeat
        background-size 100% auto
        margin-top -100%

      > .shadow
        transition opacity 1s
        &.translucent
          opacity 0.7

      > .info
        flex-shrink: 0
        padding 30px 20px 0 30px
        padding-bottom 0
        display flex
        line-height 40px

        > .text
          text-align center
          flex-grow 1

          > .album-name
            padding-right 10px
            font-size 25px

          > .artist-name
            padding-right 10px
            font-size 16px

            &:before
              content: "by "
              opacity: 0.7

        > .controls
          flex-shrink: 0
          text-align: right
          position relative
          > .release-date
            font-size 15px
            font-weight 400

        > .controls-spacer
          flex-shrink 100
          visibility hidden
          > .release-date
            white-space nowrap
            overflow hidden
            font-size 15px
      > .content
        // -webkit-mask-image linear-gradient(to top, transparent, black 5%, black 95%, transparent)
        overflow: auto
        margin-bottom 1px
        > .tracks
          padding 30px 0 50px


@media (max-width: 500px)
  .album-modal > .modal-inner
  //   -webkit-overflow-scrolling: touch
  //   overflow: auto
  //   max-height: 100%
  //   > .back
  //     flex-shrink: 0
  //     height: auto
  //     overflow: hidden

    .track
      line-height: 3em
