.Ratio {
  width: 50vw;
}

@media (min-width: 600px) {
  /* 1/3 */

  .Ratio {
    width: 33.3333vw;
  }
}

@media (min-width: 1000px) {
  /* 1/4 */

  .Ratio {
    width: 25vw;
  }
}

@media (min-width: 1300px) {
  /* 1/5 */

  .Ratio {
    width: 20vw;
  }
}

@media (min-width: 1600px) {
  /* 1/6 */

  .Ratio {
    width: 16.6667vw;
  }
}
