@import url("http://fonts.googleapis.com/css?family=Raleway:300")


$debug: false

$white: #fff
$black: #000
$red: #dd777a
$blue: #79c
$green: #8c8
$brown: #7F6A5B
$color: hsl(220, 15%, 30%)
$highlight: lighten($color, 10%)
$background-color: $white

@import 'tracks'
@import 'queue'

::-webkit-scrollbar
  display: none

*
  box-sizing: border-box

html, body
  width: 100%
  height: 100%
  padding: 0
  margin: 0

body
  display: -webkit-flex
  font-weight: 300
  font-family: Raleway, sans-serif
  background-color: $black
  color: $color
  font-size: 20px
  line-height: 40px
  transition: background-color 0.3s, width 0.4s
  // -webkit-overflow-scrolling: touch
  -webkit-user-select: none
  -webkit-touch-callout: none
  -webkit-tap-highlight-color: rgba(0,0,0,0)

a
  text-decoration: none
  color: inherit
  cursor: default

button
  -webkit-appearance: none
  display: inline-block
  padding: 0
  margin: 0
  background: none
  font-size: inherit
  cursor: pointer

h1
  color: rgba(0, 0, 0, .3)
  font-weight: bold
  font-size: 32px
  letter-spacing: -1px
  text-transform: uppercase
  padding: 350px 0 10px

ul
  margin: 0
  padding: 0
  display: block

li
  list-style-type: none

input
  border: none
  color: inherit
  font-size: inherit
  font-family: inherit
  line-height: 1em
  outline: none
  &:focus
    color: $blue

.freeze
  overflow: hidden

.clear
  clear: both

.blur
  -webkit-filter: blur(5px)

.invisible
  visibility: hidden

.accent
  color: $color + #555

.click-shield
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 50
  background-color: rgba(0,0,0, 0.8)
  @if $debug
    -webkit-animation: fade-in 10s
  @else
    -webkit-animation: fade-in 0.5s

@-webkit-keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

#bar > #show-sidebar
  display: none
  -webkit-flex-shrink: 0
  &.to-left:before
    content: '\f054'

#container
  width: 100%

#bar
  -webkit-transition: height 0.25s
  display: -webkit-flex
  -webkit-align-items: center
  height: 75px
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  background-color: rgba(245, 245, 245, 0.95)
  box-shadow: 0 0 30px rgba(0,0,0, 0.2)
  > [class *= 'icon']
    -webkit-flex-shrink: 1
    display: table-cell
    width: 2em

#logo
  width: 75px
  text-align: center
  cursor: default
  -webkit-flex-shrink: 0
  box-sizing: border-box
  &:hover
    color: $highlight

i:hover, button:hover, a:hover
  color: $highlight

#search
  width: 100%
  -webkit-flex: 100px 1 1
  margin: 0
  padding-left: 10px
  height: 100%
  background: none
  transition: background-color 0.2s
  overflow: hidden
  text-overflow: ellipsis
  &:focus
    background-color: $white

#player
  width: 300px
  height: 100%
  z-index: 20
  position: relative
  display: -webkit-flex
  -webkit-justify-content: space-around
  -webkit-align-items: center
  -webkit-flex-shrink: 0
  > i
    -webkit-flex-grow: 2
    text-align: center
  > .shuffle, > .repeat
    font-size: 0.8em
    -webkit-flex-grow: 1

#volume
  -webkit-appearance: none
  background-color: $color + #444
  height: 2px
  border-radius: 8px
  &::-webkit-slider-thumb
    -webkit-appearance: none
    background-color: $color
    width: 10px
    height: 10px
    border-radius: 20px
    &:active
      background-color: $blue

#progress
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 10px
  cursor: pointer
  z-index: 1
  > .position
    height: 2px
    position: absolute
    bottom: 0
    left: 0
    z-index: 1
    background-color: $color
    width: 0
    transition: height 0.2s//, width 1s linear
    border-right: 2px solid white

#main
  margin-right: 300px
  position: relative
  z-index: 1
  overflow: auto

#content
  height: 100%
  > ul
    -webkit-transition: padding-top 0.25s
    box-sizing: border-box
    overflow: hidden
    height: 100%
    padding-top: 75px

#sidebar
  overflow: hidden
  position: fixed
  width: 300px
  top: 0
  bottom: 0
  right: 0
  -webkit-flex-shrink: 0

ul.albums
  display: -webkit-flex
  -webkit-flex-wrap: wrap
  -webkit-justify-content: space-between
  -webkit-align-items: flex-start
  padding-left: 5px
  &.expanded
    > .album
      opacity: 0.3
  > .album
    margin-right: 5px
    margin-bottom: 5px

.album
  position: relative
  width: 200px
  background-size: 100% auto
  -webkit-flex-grow: 1
  &:before
    content: ""
    display: block
    padding-top: 100%

.expanded-album
  -webkit-transform: translate3d(0,0,0)
  max-width: 100%
  position: fixed
  z-index: 100
  background-size: 100% auto
  transition: all 0.25s
  @if $debug
    transition: all 5s
  width: 500px
  height: 500px
  top: -webkit-calc(50% - 250px)
  left: -webkit-calc(50% - 500px)
  @media (max-width: 1000px)
    top: -webkit-calc(50% - 500px)
    left: -webkit-calc(50% - 250px)
  @media (max-width: 500px)
    width: 100%
    left: 0
  > .card
    transition: all 0.25s
    @if $debug
      transition: all 5s
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    box-shadow: 0 0 30px rgba(0,0,0, 0.6)
    > .cover, > .back
      background-size: 100% auto
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
    > .cover
      z-index: 10
    > .back
      transition: all 0.25s
      overflow: hidden
      @if $debug
        transition: all 5s
      padding: 10px 10px 0
      display: -webkit-flex
      -webkit-flex-direction: column
      > .album-name, > .artist-name
        -webkit-flex-shrink: 0
        padding-left: 10px
  &.expanded
    > .card
      -webkit-transform: rotateX(0deg)
      > .back
        -webkit-transition-delay: 0.25s
        @if $debug
          -webkit-transition-delay: 5s
        left: 100%
        @media (max-width: 1000px)
          left: 0
          top: 100%

ul.tracks.track-list
  padding: 10px 0
  background: none
  overflow: auto
  width: 100%
  position: relative
  > .track
    height: 40px
    -webkit-column-break-inside: avoid
    border-radius: 4px
    > .status
      opacity: 0.3
      display: inline-block
      font-size: 0.8em
      width: 40px
      text-align: center
      -webkit-flex-shrink: 0
      &.add-to-collection
        visibility: hidden
    > .track-number
      font-size: 14px
      width: 50px
      text-align: center
      -webkit-flex-shrink: 0
    > .text
      padding: 0
    &:hover
      background-color: rgba(255,255,255, 0.02)
      > .status
        visibility: visible

.track-name, .album-name, .artist-name
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.unavailable
  opacity: 0.3
  &:hover
    > .play, > .queue
      display: none

.album-art
  width: 75px
  -webkit-flex-shrink: 0

.text
  font-size: 15px
  -webkit-flex-grow: 1
  line-height: 1.5em
  > .artist-name, > .track-name, > .album-name
    -webkit-flex-grow: 0

@media (max-width: 780px)
  .album
    width: 150px
  #progress
    height: 15px
  .track-name, .album-name
    display: block
  .track-list
    -webkit-columns: 1
  #bar > #show-sidebar
    display: inline-block
  #bar, #sidebar
    -webkit-transition: right 0.5s, left 0.5s
    right: -300px
    &.to-left
      right: 0
  #bar.to-left
    left: -300px
  #main
    margin-right: 0
    -webkit-transition: margin 0.5s
    &.to-left
      margin-right: 300px
      margin-left: -300px

@media (max-height: 400px)
  #bar
    height: 40px
  #content > ul, #queue
    padding-top: 40px
