@import url("http://fonts.googleapis.com/css?family=Raleway:300")

$white: #fdfdfd
$white: #fff
$red: #dd777a
$blue: #79c
$green: #8c8
$brown: #7F6A5B
$color: hsl(220, 15%, 40%)

$background-color: $white

@import 'icons'
@import 'tracks'
@import 'queue'

::-webkit-scrollbar
  display: none

*
  box-sizing: border-box

html, body
  width: 100%
  height: 100%
  padding: 0
  margin: 0

body
  display: -webkit-flex
  font-weight: 300
  font-family: Raleway, sans-serif
  background-color: $white
  color: $color
  font-size: 20px
  line-height: 40px
  -webkit-overflow-scrolling: touch
  -webkit-user-select: none
  -webkit-touch-callout: none
  -webkit-tap-highlight-color: rgba(0,0,0,0)

a
  text-decoration: none
  color: inherit
  border-bottom: 1px solid transparent
  &:hover
    border-bottom-color: $blue
  &:active
    color: $blue

h1
  color: rgba(0, 0, 0, .3)
  font-weight: bold
  font-size: 32px
  letter-spacing: -1px
  text-transform: uppercase
  padding: 350px 0 10px

ul
  margin: 0
  padding: 0

li
  list-style-type: none

.clear
  clear: both

.blur
  -webkit-filter: blur(5px)

.invisible
  visibility: hidden

.accent
  color: $color + #555

#bar
  display: -webkit-flex
  -webkit-align-items: center
  height: 75px
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  margin-right: 300px
  background-color: rgba(255,255,255, 0.8)
  > .icon
    -webkit-flex-shrink: 0
    display: table-cell
    line-height: 75px
    width: 2em

#logo
  display: table-cell
  width: 75px
  line-height: 75px
  text-align: center
  cursor: pointer
  -webkit-flex-shrink: 0
  box-sizing: border-box

#search
  width: 100%
  -webkit-flex: 100px 1 1
  display: table-cell
  margin: 0
  padding-left: 10px
  height: 100%
  background: none
  transition: background-color 0.2s
  overflow: hidden
  text-overflow: ellipsis
  &:focus
    background-color: $white

#player
  background-color: rgba(255,255,255, 0.85)
  position: absolute
  top: 0
  right: 0
  left: 0
  height: 75px
  z-index: 20
  width: 100%
  display: table
  box-shadow: 0 0 15px rgba(0,0,0, 0.5)
  > .icon
    width: 33.33%
    display: table-cell
    height: 65px
    vertical-align: middle

#volume
  -webkit-appearance: none
  background-color: $color + #444
  height: 2px
  border-radius: 8px
  &::-webkit-slider-thumb
    -webkit-appearance: none
    background-color: $color
    width: 10px
    height: 10px
    border-radius: 20px
    &:active
      background-color: $blue

#progress
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 10px
  cursor: pointer
  z-index: 1
  > .position
    height: 2px
    position: absolute
    bottom: 0
    left: 0
    z-index: 1
    background-color: $color
    width: 0
    transition: height 0.2s//, width 1s linear
    border-right: 2px solid white

#main
  margin-right: 300px
  position: relative
  z-index: 1

#content
  overflow: hidden
  height: 100%
  > ul
    box-sizing: border-box
    overflow: auto
    height: 100%
    padding: 75px 0 0

#sidebar
  overflow: hidden
  position: fixed
  width: 300px
  right: 0
  top: 0
  bottom: 0
  -webkit-flex-shrink: 0

ul.albums
  display: -webkit-flex
  -webkit-flex-wrap: wrap
  -webkit-justify-content: space-between
  -webkit-align-items: flex-start
  padding-top: 5px

.album
  position: relative
  width: 200px
  -webkit-flex-grow: 1
  background-size: 100% auto
  > .text
    padding: 10px
    position: absolute
    bottom: 0
    left: 0
    right: 0

  > .album-art
    display: block
    background: #eee url(/images/music_note.png) no-repeat 50% 50%
    background-size: 50% auto
    height: auto
    width: 100%
    // box-shadow: 1px 1px 15px rgba(0,0,0, 0.6)
  &.expanded
    -webkit-transform: scale(1.5)
    color: $white
    text-shadow: 1px 1px 3px black
    z-index: 5
    > .album-art
      box-shadow: 1px 1px 30px black
    > .text > .artist-name
      color: $white

.track-name, .album-name, .artist-name
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.unavailable
  opacity: 0.3
  &:hover
    > .play, > .queue
      display: none

.album-art
  width: 75px
  -webkit-flex-shrink: 0

.icon.remove
  padding: 0
  width: auto
  cursor: pointer
  line-height: 30px
  margin: 12.5px 12.5px 0 0
  -webkit-flex-shrink: 0
  &:hover
    color: inherit

.text
  font-size: 15px
  -webkit-flex-grow: 1
  line-height: 1.5em
  > .artist-name, > .track-name, > .album-name
    -webkit-flex-grow: 0

input
  border: none
  color: inherit
  font-size: inherit
  font-family: inherit
  line-height: 1em
  outline: none
  &:focus
    color: $blue
@keyframes bounce
  0%, 20%, 50%, 80%, 100%
    transform: translateY(0)
  40%
    transform: translateY(-30px)
  60%
    transform: translateY(-15px)

@media (max-width: 800px)
  #progress, #bar:hover #progress
    height: 15px
    > .position
      height: 5px
  .track-name, .album-name
    display: block
@media (max-width: 800px)
  #bar, #main
    margin-right: 0
  #sidebar
    right: -300px
@media (max-height: 200px)
  #bar
    height: 20px
