bar-color = white

.progress-bar
  bottom 0
  font-size 11px
  left 0
  line-height 15px
  margin-left 1px
  position absolute
  right 0
  z-index: 1

  &:hover
    > .time
      visibility visible

  > .time
    // -webkit-transform translateX(-50%)
    bottom 0px
    padding 2px
    pointer-events none
    position absolute
    visibility hidden

  > .click-area
    cursor pointer
    height 10px

    > .position
      background-color bar-color
      bottom 0
      height 2px
      left 0
      pointer-events none
      position absolute
      transition height 0.2s
      width 0

