.App {
  height: 100%;
  position: relative;
  background-color: black;
  color: #888;
}

.AppBody {
  height: 100%;
  display: flex;
  align-items: stretch;
  position: relative;
}

html, body, #mount {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
