properties_to_vendor = align-items justify-content animation

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

transition()
  vendor('transition', arguments)

transform()
  vendor('transform', arguments)

align-items()
  vendor('align-items', arguments)

flex-grow()
  vendor('flex-grow', arguments)

flex-direction()
  vendor('flex-direction', arguments)

flex-shrink()
  vendor('flex-shrink', arguments)

flex-basis()
  vendor('flex-basis', arguments)

justify-content()
  vendor('justify-content', arguments)

animation()
  vendor('animation', arguments)

filter()
  vendor('filter', arguments)

mask-image()
  vendor('mask-image', arguments)
