bright-blue = hsl(240, 90, 40)
blue        = hsl(200, 70, 50)
dark-blue   = hsl(210, 70, 10)
purple      = hsl(270, 50, 40)
cyan        = hsl(180, 90, 50)

font-color = hsl(200, 70, 10)

#bar > #show-sidebar
  display: none
  width 60px
  -webkit-flex-shrink 0
  &.slide-to-left:before
    content: '\f054'

#bar
  bg = white

  background-color rgba(bg, 0.8)
  background-image:
    linear-gradient(to top, rgba(bg, 0), bg),
    linear-gradient(to top, bg, rgba(bg, 0))

  font-size 16px
  white-space nowrap
  transition: height 0.25s
  display: -webkit-flex
  align-items: center
  height: 60px
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100
  border-bottom 1px solid rgba(white, 0.1)
  -webkit-border-image-source linear-gradient(to right, white, black)
  color font-color
  box-shadow: 0 0 10px rgba(0,0,0, 0.7)
  &, button
    // text-shadow 0 0 3px rgba(black, 0.2)
  a, button
    &:active
      color: rgba(font-color, 0.8)

  > a, > button
    -webkit-align-self: stretch
    -webkit-flex-shrink: 1
    overflow hidden
    text-overflow ellipsis
    display: -webkit-flex
    padding 2px 6px 0
    border-bottom 2px solid transparent
    transition border-color 0.5s
    -webkit-align-items: center
    -webkit-justify-content: center
    &:hover
      border-color rgba(font-color, 0.3)
    &.current
      border-color font-color
      -webkit-mask-image none

#logo
  width: 60px
  text-align: center
  cursor: default
  -webkit-flex-shrink: 0
  box-sizing: border-box
  &:active
    color rgba(font-color, 0.8)

button:active, a:active
  color: $highlight

#search
  width: 100%
  -webkit-flex: 100px 1 1
  margin: 0
  padding-left: 10px
  height: 100%
  background: none
  transition: background-color 0.2s
  overflow: hidden
  text-overflow: ellipsis
  line-height 1.5
  &::-webkit-input-placeholder
    line-height 1.5
    color: rgba(font-color, 0.6)

@media (max-width: 780px)
  #bar > #show-sidebar
    display: inline-block
  #bar, #sidebar
    right: -300px
    -webkit-transition all 0.5s
@media (max-height: 400px)
  #bar
    height: 40px
    > [class *= 'icon']
      line-height: 40px
