.action-menu
  position absolute
  top 80%
  right 6px
  cursor pointer
  text-align left
  background-color inherit
  z-index 1
  padding 6px 0
  font-size 14px
  line-height 30px
  box-shadow 0 0 20px rgba(black, 0.5)
  border-radius 3px
  > li
    padding 0 24px
    &:hover
      opacity: 0.8
