.album-modal-track
  -webkit-column-break-inside avoid
  cursor pointer
  padding 0
  position relative
  visibility visible

  &:hover
    > .info > .controls > button
      opacity 0.7

  > .info
    overflow hidden

    > .text
      overflow hidden
      > .track-name
        padding-right 20px

    > .track-number
      font-size 0.6em
      text-align center
      width 60px
      float left


    > .controls
      float right
      white-space nowrap
      padding-right 10px
      padding-left 10px

      // > .is-in-collection
      //   font-size 0.8em
      //   line-height 1

      > button
        transition opacity 0.25s
        transform translate3d(0,0,0)
        opacity 0.05

        &:hover
          opacity 0.999
