#queue
  -webkit-transition: padding-top 0.25s
  -webkit-overflow-scrolling: touch
  overflow: auto
  height: 100%
  box-sizing: border-box
  padding: 60px 0 0

#queue > #current-track
  height: 300px
  position sticky
  top -240px
  bottom -240px
  z-index 1

  > .shield
    position sticky
    bottom 0
    height 100%
    > .blur
      mask-image linear-gradient(to top, black, transparent 300px)
    > .shadow
      mask-image linear-gradient(to top, black 60px, transparent 300px)

  > .info > .controls > .remove
    display: none

li#current-track-fixed.track
  height: 75px !important
  margin-top: 0 !important
  position: fixed
  width: 300px
  right: 0
  z-index: 1
  display: none
  box-shadow: 0 0 5px rgba(0,0,0, 0.9)
  > .remove
    display: none
  &.top
    display: block
    top: 75px !important
  &.bottom
    display: block
    bottom: 0 !important


.add-more-to-queue
  color: #888
  line-height: 75px
  text-align: center
