modal-album-animation-duration = modal-animation-duration
modal-album-width              = 500px
modal-album-height             = 500px

.album-list
  display: -webkit-flex
  -webkit-flex-wrap: wrap
  -webkit-justify-content: space-around
  -webkit-align-items: flex-start
  padding-left: 1px
  position: relative
  > .album
    display: inline-block
    vertical-align: middle
    margin-right: 1px
    margin-top: 1px
    width: -webkit-calc(16.66667% \- 1px)
    max-width: 400px
    -webkit-flex-grow: 1
    -webkit-flex-basis: 180px
    &:before
      content: ""
      display: block
      padding-top: 100%
    &.unavailable
      opacity: 1
      &:before
        background-color rgba(0,0,0, 0.7)
        content "Unavailable"
        padding-top -webkit-calc(100% \- 2em)
        padding-left 5px
        color white

.album
  position relative
  background-size 100% auto
  background-repeat no-repeat

.modal > .album
  position: relative
  display: -webkit-flex
  max-width: 100%
  > .cover, > .back
    max-width: 100%
    width: modal-album-width
    position: relative
  > .cover
    position: relative
    background-size: 100% auto
    background-repeat: no-repeat
    -webkit-flex-shrink: 0
    &:before
      content: ""
      display: block
      padding-top: 100%
  > .back
    z-index: 10
    height: modal-album-height
    overflow: auto
    -webkit-overflow-scrolling: touch
    > .info
      -webkit-flex-shrink: 0
      padding: 10px
      display: -webkit-flex
      > .text
        -webkit-flex-grow: 1
        > .album-name
          font-size: 1.5em
          line-height: 1.5em
        > .artist-name
          font-size: 1.1em
          line-height: 1.5em
          margin-top: -10px
          &:before
            content: "by "
            opacity: 0.7
      > .controls
        -webkit-flex-shrink: 0
        text-align: right
        > .release-date
          font-size:   0.7em
          line-height: 1em

@media (max-width: 1200px)
  .modal > .album
    -webkit-flex-direction: column
    -webkit-overflow-scrolling: touch
    overflow: auto
    max-height: 100%
    > .back
      -webkit-flex-shrink: 0
      height: auto
      overflow: hidden
