$flip-time = 8s

.album-list
  display: -webkit-flex
  -webkit-flex-wrap: wrap
  -webkit-justify-content: flex-end
  -webkit-align-items: flex-start
  padding-left: 1px
  > .album
    margin-right: 1px
    margin-top: 1px
    width: 180px
    max-width: 400px
    -webkit-flex-grow: 1
    &:before
      content: ""
      display: block
      padding-top: 100%
    &.unavailable
      opacity: 1
      &:before
        background-color: rgba(0,0,0, 0.7)
        content: "Unavailable"
        padding-top: -webkit-calc(100% \- 2em)
        padding-left: 5px
        color: white

.album
  position: relative
  background-size: 100% auto
  background-repeat: no-repeat

.modal > .album
  position: relative
  display: -webkit-flex
  max-width: 100%
  > .cover, > .back
    max-width: 100%
    width: 500px
    position: relative
  > .cover
    position: relative
    background-size: 100% auto
    background-repeat: no-repeat
    -webkit-flex-shrink: 0
    &:before
      content: ""
      display: block
      padding-top: 100%
  > .back
    height: 500px
    z-index: 10
    overflow: auto
    -webkit-overflow-scrolling: touch
    > .info
      -webkit-flex-shrink: 0
      padding: 10px
      display: -webkit-flex
      > .text
        -webkit-flex-grow: 1
        > .album-name
          font-size: 1.5em
          line-height: 1.5em
        > .artist-name
          font-size: 1.1em
          line-height: 1.5em
          margin-top: -10px
          &:before
            content: "by "
            opacity: 0.7
      > .controls
        -webkit-flex-shrink: 0
        text-align: right
        > .release-date
          font-size:   0.7em
          line-height: 1em

@media (max-width: 960px)
  .modal > .album
    -webkit-flex-direction: column
    -webkit-overflow-scrolling: touch
    overflow: auto
    max-height: 100%
    > .back
      height: auto
      overflow: visible

.expanded-album
  -webkit-transform-origin: left top
  -webkit-transform: translate3d(0,0,0)
  transition: all ($flip-time / 3)
  max-width: 100%
  position: fixed
  z-index: 100
  background-size: 100% auto
  width: 500px
  height: 500px
  top: -webkit-calc(50% \- 250px)
  left: -webkit-calc(50% \- 500px)
  @media (max-width: 1000px)
    top: 0
    left: -webkit-calc(50% \- 250px)
    height: 100%
    > .card
      -webkit-overflow-scrolling: touch
      overflow: auto
      > .back
        overflow: visible
        height: auto
  @media (max-width: 500px)
    width: 100%
    left: 0
    -webkit-transform: translate3d(0,0,0)
  > .card
    background-size: 100% auto
    background-position: left top
    background-repeat: no-repeat
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding-top: 20px
    > .close
      font-size: 1.2em
      width: 40px
      line-height: 40px
      position: absolute
      top: 0
      left: 0
      display: none
      @media (max-width: 500px)
        display: block
    > .cover, > .back
      background-size: 100% auto
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
    > .cover
      z-index: 20
    > .back
      z-index: 10
      transition: all ($flip-time / 2)
      overflow: auto
      display: -webkit-flex
      -webkit-flex-direction: column
      -webkit-transform: translate3d(0,0,0)
      > .info
        -webkit-flex-shrink: 0
        padding: 10px
        display: -webkit-flex
        > .text
          -webkit-flex-grow: 1
          > .album-name
            font-size: 1.5em
            line-height: 1.5em
          > .artist-name
            font-size: 1.1em
            line-height: 1.5em
            margin-top: -10px
            &:before
              content: "by "
              opacity: 0.7
        > .controls
          -webkit-flex-shrink: 0
          text-align: right
          > .release-date
            font-size:   0.7em
            line-height: 1em

.expanded-album.is-expanded
  > .card
    box-shadow: 0 0 30px rgba(0,0,0, 0.6)
    > .back
      box-shadow: none
      -webkit-transition-delay: ($flip-time / 2)
      -webkit-transform: translate3d(100%, 0, 1px)
      @media (max-width: 1000px)
        margin-top: 99%
        -webkit-transform: translate3d(0,0,0)
