$normal           = 300
$bold             = 500
$white            = #eee
$black            = #666
$red              = #dd777a
$blue             = #79c
$green            = #8c8
$brown            = #7F6A5B
$color            = hsl(220, 15%, 30%)
$highlight        = lighten($color, 15%)
$background-color = $white

modal-animation-duration = 0.5s

@import 'vendor'
@import 'items'
@import 'tracks'
@import 'albums'
@import 'queue'

square()
  &:before
    content: ''
    display: block
    padding-top: 100%

::-webkit-scrollbar
  display: none

*
  box-sizing: border-box

html, body
  min-width: 100%
  padding: 0
  margin: 0

html
  height: 100%

body
  min-height: 100%
  display: -webkit-flex
  font-weight: $normal
  font-family: Raleway, sans-serif
  background-color: #000
  color: #ddd
  font-size: 20px
  line-height: 40px
  cursor: default
  transition: background-color 0.3s, width 0.4s
  // -webkit-overflow-scrolling: touch
  -webkit-user-select: none
  -webkit-touch-callout: none
  -webkit-tap-highlight-color: rgba(0,0,0,0)

a
  text-decoration: none
  color: inherit

button
  -webkit-appearance: none
  border: 0
  display: inline-block
  padding: 0
  font-family inherit
  font-weight inherit
  margin: 0
  background: none
  color: inherit
  outline: none
  font-size: inherit
  cursor: pointer


button, [class *= 'icon']
  padding: 4px

h1, h2, h3
  font-weight: $normal
  line-height: 1.5em
  padding 0.75em
  letter-spacing: -1px

h1
  font-size: 40px

h2
  font-size: 30px

img
  vertical-align: middle

ul
  margin: 0
  padding: 0
  display: block

li
  list-style-type: none

input
  border-radius: 0
  -webkit-appearance: none
  font-weight: $normal
  border: none
  color: inherit
  font-size: inherit
  font-family: inherit
  line-height: 1em
  outline: none
  &:focus
    color: $blue

::-webkit-search-cancel-button
  -webkit-appearance: none
  &:before
    content: '\f057'
    font-family: FontAwesome
  color: rgba(0,0,0, 0.2)
  padding-right: 10px

.modal
  position fixed
  top 60px
  left 0
  right 300px
  bottom 0
  z-index 50
  display -webkit-flex
  align-items center
  justify-content space-around
  background-color rgba(black, 0.7)
  animation fade-in modal-animation-duration
  > div
    box-shadow: 0 0 100px rgba(black, 0.8)
  > .close
    z-index: 1000
    font-size: 1.2em
    width: 40px
    line-height: 40px
    position: absolute
    top: 0
    left: 0

.button
  color       $blue

.photo
  max-width  95%
  box-shadow 0 0 50px rgba(black, 0.5)

.icon-random
  padding-top 8px

.freeze
  overflow hidden

.clear
  clear both

.blur
  filter blur(10px)
  @media (max-width: 500px)
    filter none

.invisible
  visibility hidden

.accent
  color: $color + #555

.click-shield
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

@keyframes fade-in
  from
    opacity 0
  to
    opacity 1

@keyframes slide-down
  from
    transform translate3d(0, -100%, 0)
  to
    transform translate3d(0, 0, 0)

.loading
  height: 100%
  display: -webkit-flex
  -webkit-justify-content center
  -webkit-align-items: center
  &:before
    content: 'loading...'

.static-page
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  overflow auto
  background-color white
  padding-top 60px
  text-align center
  color $black

#bar > #show-sidebar
  display: none
  -webkit-flex-shrink: 0
  &.slide-to-left:before
    content: '\f054'

#container
  width: 100%

#bar
  -webkit-transition: height 0.25s
  display: -webkit-flex
  -webkit-align-items: center
  height: 60px
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100
  background-image: linear-gradient(to bottom, rgba(255,255,255, 1), rgba(255, 255, 255, 0.95))
  color: $color
  box-shadow: 0 0 30px rgba(0,0,0, 0.2)
  > a, > button
    -webkit-align-self: stretch
    -webkit-flex-shrink: 1
    padding: 0
    display: -webkit-flex
    width: 60px
    -webkit-align-items: center
    -webkit-justify-content: center
    &:hover
      color: lighten($color, 20%)
    &.current
      background-image: linear-gradient(to top, rgba($color, 0.8), rgba($color, 1))
      color: white
      text-shadow 0 0 3px rgba($black, 0.5)
      box-shadow: inset 0 0 15px rgba($black, 0.1)

#logo
  width: 60px
  text-align: center
  cursor: default
  -webkit-flex-shrink: 0
  box-sizing: border-box
  &:hover
    color: $highlight

button:active, a:active
  color: $highlight

#search
  width: 100%
  -webkit-flex: 100px 1 1
  margin: 0
  padding-left: 10px
  height: 100%
  background: none
  transition: background-color 0.2s
  overflow: hidden
  text-overflow: ellipsis

#player
  width: 300px
  z-index: 20
  position: relative
  display: -webkit-flex
  -webkit-justify-content: space-around
  -webkit-align-items: center
  -webkit-align-self: stretch
  -webkit-flex-shrink: 0
  > [class *= 'icon']
    -webkit-flex-grow: 2
    text-align: center
  > .shuffle, > .repeat
    font-size: 0.8em
    -webkit-flex-grow: 1

#volume
  -webkit-appearance: none
  background-color: $color + #444
  height: 2px
  border-radius: 8px
  &::-webkit-slider-thumb
    -webkit-appearance: none
    background-color: $color
    width: 10px
    height: 10px
    border-radius: 20px
    &:active
      background-color: $blue

#progress
  position: absolute
  left: 5px
  right: 5px
  bottom: 0
  height: 10px
  cursor: pointer
  z-index: 1
  > .position
    height: 2px
    position: absolute
    bottom: 2px
    left: 0
    z-index: 1
    background-color: $color
    width: 0
    transition: height 0.2s//, width 1s linear
    border-radius: 4px

#main
  margin-right: 300px
  position: relative
  z-index: 1
  overflow: auto

#content
  height: 100%
  > ul
    -webkit-transition: padding-top 0.25s
    box-sizing: border-box
    overflow: hidden
    height: 100%
    padding-top: 60px

#sidebar
  overflow: hidden
  position: fixed
  width: 300px
  top: 0
  bottom: 0
  right: 0
  z-index: 90
  -webkit-flex-shrink: 0
  display: -webkit-flex
  -webkit-flex-direction: column

#station
  height: 100px
  width: 300px

.track-name, .album-name, .artist-name
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.unavailable
  opacity: 0.3
  &:hover
    > .play, > .queue
      display: none

.album-art
  width: 75px
  -webkit-flex-shrink: 0

@media (max-width: 780px)
  .album-list > .album
    width: 150px
  #progress
    height: 15px
  .track-name, .album-name
    display: block
  .track-list
    -webkit-columns: 1
  #bar > #show-sidebar
    display: inline-block
  #bar, #sidebar
    right: -300px
  #container
    -webkit-transition: -webkit-transform 0.5s
    &.slide-to-left
      -webkit-transform: translate(-300px, 0)
  #main
    margin-right: 0
    -webkit-transition: margin 0.5s
  .modal
    right: 0

@media (max-height: 400px)
  #bar
    height: 40px
    > [class *= 'icon']
      line-height: 40px
  #content > ul, #queue
    padding-top: 40px
