#queue
  -webkit-transition: padding-top 0.25s
  -webkit-overflow-scrolling: touch
  overflow: auto
  height: 100%
  box-sizing: border-box
  padding: 60px 0 0
  > li
    margin-top 1px
    height 75px
    margin-right 1px
  > .track
    position: relative
    background-size: 100% auto
    transition: all 0.2s
    -webkit-align-items: flex-start
    font-size: 20px
    line-height: 25px
    border-radius 4px
    &:hover
      > .controls > button
        visibility: visible
    > .text
      position: relative
      z-index: 1
      padding: 12px 0
      > .artist-name
        &:before
          content: "by "
          opacity: 0.7
        font-size: 0.8em
    > .controls
      z-index: 1
      height: 75px

#queue > #current-track
  height: 300px
  > .controls
    > .remove
      display: none
  > .blurred-area
    border-radius 4px 4px 1px 1px

.add-more-to-queue
  color: #888
  line-height: 75px
  text-align: center

.blurred-area
  background-repeat no-repeat
  background-position center top
  position: absolute
  opacity 0.8
  top: 0
  left: 0
  right: 0
  height: 75px
  box-shadow 0 1px 30px rgba(black, 0.5), inset 0 -1px 0 rgba(white, 0.2)
  border-radius 4px
