.track-list
  padding: 10px 0
  background: none
  width: 100%
  position: relative

.track
  -webkit-column-break-inside: avoid
  cursor: default
  overflow: hidden
  position: relative
  display: -webkit-flex
  align-items: center
  padding: 0 10px
  > .status
    flex-shrink 0
    text-align center
    width 2em
    > .play-now
      display: none
    > .track-number
      font-size 0.6em
  &.is-highlighted
    > .status
      > .track-number
        display: none
      > .play-now
        display: inline-block
    > .controls > button
      visibility: visible
  > .text
    flex-grow: 1
  > .remove
    text-align: center
  > .controls 
    -webkit-flex-shrink: 0
    display: -webkit-flex
    -webkit-align-items: center
    > button
      visibility: hidden
    > .is-in-collection
      opacity: 0.3
