.GridTrack {
  background-position: center;
  background-size: cover;
  float: left;
  position: relative;
}

.GridTrack::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.GridTrackContent {
  position: absolute;
  top: 0;
  left:0;
  bottom :0;
  right: 0;
  line-height: 24px;
  color: white;
  display: flex;
  align-items: flex-end;
  visibility: hidden;
}

.GridTrack:hover .GridTrackContent {
  visibility: visible;
}


.GridTrackText {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  line-height: 1;
  background-color: rgba(0,0,0, 0.8);
  color: white;
}

