.albums > .album
  position relative
  display block
  float left
  width 100%

  @media (min-width: 300px)
    width 50%

  @media (min-width: 600px)
    width 33.333%

  @media (min-width: 1200px)
    width 25%

  @media (min-width: 1800px)
    width 20%

  &::before
    content ""
    display block
    padding-top 100%

  &.unavailable
    opacity: 1

    &::after
      align-items flex-end
      background-image linear-gradient(to top, black, rgba(black, 0.4))
      bottom 0
      color white
      content "Unavailable"
      display flex
      justify-content center
      left 0
      padding-left 15px
      padding-bottom 15px
      position absolute
      right 0
      top 0

.album
  position relative
  background-size cover
  background-repeat no-repeat
