.albums > .album
  position relative
  display: inline-block
  vertical-align: middle
  max-width 50%
  flex-grow: 1
  flex-basis 300px
  @media (max-width: 800px)
    flex-basis 250px

  &::before
    content: ""
    display: block
    padding-top: 100%

  &.unavailable
    opacity: 1

    &::before
      display -webkit-flex
      line-height 50px
      background-color rgba(255,255,255, 0.7)
      padding-top -webkit-calc(100% \- 50px)
      content "Unavailable"
      padding-left 15px
      color #333

.album
  position relative
  background-size cover
  background-repeat no-repeat
