!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title music

    %meta{content: "yes", name: "apple-mobile-web-app-capable"}
    %meta{content: "initial-scale=1, user-scalable=no", name: "viewport"}
    %meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}

    %link{href: "http://petersonj.com/images/shades-256.jpg", rel: "apple-touch-icon-precomposed", sizes: "256x256"}
    %link{rel:"icon", type: "image/png", href: "http://petersonj.com/images/favicon.png"}


    != stylesheet_link_tag :application

  %body
    #container.slidable
      != yield

    != javascript_include_tag :application
    %script{async: true, src: "//rdio.com/api/api.js?client_id=zpGC9HgrNQDdpyfQdSiwtQ", onload: "rdio_loaded()"}
    %script{async: true, src: "//connect.soundcloud.com/sdk.js", onload: ""}

    :javascript
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
